<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre" width="300">
        <nav>
            <ol>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/product">product</a>
                </li>
            </ol>
        </nav>

    </header>

    <!--contenido principal de la pagina -->
    <main>
       
    </main>

    <!-- lo que es mi empresa, pero es lo secundario que va a ver un usuario cuando entre a mi pagina-->
    <footer>
        <p>Copyright</p>

    </footer>
</body>
</html>