/* ESTILOS DEL HEADER */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-desc-box>.product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.logo{
    width: 200px;
}

header {
    background-color: #EAC926;
    padding: 20px;
}

.fas.fa-search {
    color: black;

}

.primer-titulo {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.fas.fa-hand-holding-usd {
    color: black;
    display: inline;
}

.listas {
    display: none;
}
.listas ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.listas a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
}

.home-contenedor {
    text-align: center;
}

.id-card {
    color: black;
}

.ingresa {
    color: black;
}

.compra {
    color: black;
}

body {
    font-family: roboto;
    font-size: 15px;
    background-color: white
}

.hamburguer-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/* HASTA ACA ES EL HEADER */
.home-banner {
    width: 100%;
}

/* ESTILOS DEL MAIN */
main {
    width: 100%;
    background-color: #ebebeb;
}

.titulos-de-main {
    color: grey;
    background-color: #ebebeb;
    margin-left: 40px;
    margin-bottom: 2.5vh;
}

.contenedor-mgs {
    text-align: center;

}

.mgs-productos {
    width: 90%;
}

.camioncito {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.secciones {
    display: block;
    background-color: white;
    margin: 0% auto 10px;
    width: 90%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.descripcion-main {
    text-align: left;
    border-top: 1px solid #ebebeb;
    padding-left: 10px;
    background-color: white;
    position: relative;
}

h2 {
    font-size: 24px;
}

#precio {
    width: 30%;
    font-size: 18px;
    text-align: center;
}

#oferta {
    width: 70%;
    font-size: 16px;
    color: green;
}
.price-discounts{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

#descripciones {
    margin-top: 10px;
    font-size: 16px;
    color: grey;
}

#buscar {
    background-color: white;
    padding: 6px;
    margin: 6px;
}

/* ESTILOS DEL FOOTER*/
.footer {
    padding: 0;
    background-color: white;
    font-family: roboto;
    font-size: 15px;
}

#titulos-de-footer {
    text-align: center;
    font-family: roboto;
    font-size: 24px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.textos-de-footer {
    text-align: center;
    font-family: roboto;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 4em;
}

#Copyright {
    text-align: left;
    color: gray;
}

.credit-card {
    display: block;
    font-size: 2em;
    color: blue;
    text-align: center;
    padding-top: 40px;
}

.gift {
    padding-top: 40px;
    display: block;
    font-size: 2em;
    color: blue;
    text-align: center;
}

.shield {
    padding-top: 40px;
    font-size: 2em;
    color: blue;
    text-align: center;
}

/* MEDIA QUERIES  */

@media (min-width: 768px) {
    .listas {
        display: none;
    }

    #descripciones {
        display: none;
    }
    
    .header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    
    .primer-titulo{
        max-width: 300px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .listas {
        display: flex;
        justify-content: space-between;
    }
    .listas ul{
        display: flex;
    }
    .listas li{
        margin: 0px 5px;
    }
    .listas{
        margin-top: 40px;
    }
    .header-top-bar, .listas{
        align-items: center;
    }
   
}

@media (min-width: 361px){
    .articulos-main-top{
      display: flex;
      justify-content: space-between;
    }
    .secciones{
        flex-grow: 0.50;
    }
}